{% extends 'blog/base.html' %}
{% load bootstrap4 %}

{% block content %}
  {% comment %} <div class="col-md-8 offset-md-2">
    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button name="submit" class="btn btn-primary">Change</button>
        <a href="{% url 'authentication:login' %}" class="btn btn-primary" role="button">Cancel</a>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'blog:index' %}"/> 
    </form>
  </div> 
  {% endcomment %}
{% endblock content %}