{% extends 'blog/base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
  <div class="text-center" style="padding:15px">
    <h2>Update Profile</h2>
  </div>
    <div class="col-md-8 offset-md-2" style="padding: 25px">
      <form method="post" class="form" enctype="multipart/form-data">>
          {% csrf_token %}
          {% bootstrap_form u_form %}
          {% bootstrap_form p_form %}
          {% buttons %}
            <button name="submit" class="btn btn-primary">Update</button>
          {% endbuttons %}
      </form>
  </div>
</div>
{% endblock content %}