{% extends 'blog/base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
  <h3 class="text-center ml-auto">Article: <a href="{% url 'blog:article' article.id %}"> {{article.title}} </a> </h3>
  <div class="col-md-8 offset-md-2"> 
    <form action="{% url 'blog:edit_article' article.id %}" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <br><button name="submit" class="btn btn-primary">Save changes</button>
        <a href="{% url 'authentication:profile' request.user %}" class="btn btn-primary" role="button">Back to the profile</a>
      {% endbuttons %}
    </form>
  </div>
</div>  
{% endblock content %}