{% extends 'blog/base.html' %}
{% block pageheader %}
  <div class="jumbotron">
    <h1 class="display-3">Daily Blog Website.</h1>

    <p class="lead"> 
      Make your own Daily blog, and keep a list of the topics
      you're learning/reading/thinking about. Whenever u want to write
      something new about a topic, make an entry summarizing what you have gathered.
    </p>
    <a class="btn btn-lg btn-primary" href="#" role="button">Register &raquo;</a>
    <a class="btn btn-lg btn-primary" href="{% url 'blog:new_article' %}" role="button">Create Article &raquo;</a>
  </div>
{% endblock pageheader %}

{% block content %}
  {% for article in page_obj %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ article.title }}
        <small class="float-sm-right">
          <div class="w-100 text-right close">
            {{ article.pub_date|date:'M d, Y H:i' }}
          </div>
        </small>
      </h4>
      <div class="card-body">
        {{ article.content|linebreaks }}
      </div>
    </div>
  {% endfor %}

  <nav aria-label="paginaton">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"><< Previous</a>
      </li>
      {% endif %}
      {% for i in page_obj.paginator.page_range %}
      <li class="page-item">
        <a class="page-link" href="?page={{i}}">{{ i }}</a>
      </li>
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next >></a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endblock content %}
